@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 72px;
}

body {
  background-color: #f1ebdd;
  color: #1f1d18;
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.vertical-rl {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
